body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff; /* White text color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222; /* Dark gray background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: rgb(4,180,4); /* Neon green text color */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(4,180,4); /* Neon green text color */
}

.select-box, .generate-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(4,180,4); /* Neon green button background */
    color: #fff; /* White button text color */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-box:hover, .generate-button:hover {
    background-color: #00ff00; /* Lighter shade of neon green on hover */
}

.exercise-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exercise-card {
    width: calc(50% - 20px);
    margin: 10px;
    background-color: #333; /* Dark gray exercise card background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exercise-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.exercise-card h3 {
    font-size: 1.2rem;
    color: rgb(4,180,4); /* Neon green text color */
    margin: 10px 0;
}

.exercise-card p {
    color: #fff; /* White description text color */
    margin: 10px;
    font-size: 0.9rem;
}